.production {
  position: relative;
  padding-bottom: 58px;

  .container {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    border: 1px solid @border-gray;

    @media (min-width: @tablet-width) {
      border: none;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 682px 1fr;
      grid-template-rows: min-content;
      column-gap: 80px;
      padding-right: 57px;
      border: 1px solid @border-gray;
    }

    &:hover,
    &:focus {
      box-shadow: 0 6px 10px rgba(@basic-black, 0.1);
    }
  }
}

.production__title {
  padding-right: 34px;
  padding-left: 91px;
  padding-top: 21px;
  margin: 0;
  .font(17px, 24px);
  font-weight: bold;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-left: 107px;
    font-size: 20px;
    border: 1px solid @border-gray;
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 178px;
    padding: 0;
    margin-top: 96px;
    border: none;
  }
}

.production__title-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -57px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 32px;
    height: 32px;
    background: url("../img/icon-video.svg") no-repeat;

    @media (min-width: @tablet-width) {
      left: -70px;
    }

    @media (min-width: @desktop-width) {
      left: 0;
      top: -49px;
      bottom: auto;
    }
  }
}

.production__video {
  position: relative;
  margin-top: 26px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-row: 1 / 2;
  }
}

.production__poster {
  display: block;
  width: 100%;
}

.production__play-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__wrapper {
  padding: 0 34px;
  padding-bottom: 33px;

  @media (min-width: @tablet-width) {
    padding: 0 42px;
    padding-bottom: 46px;
    border: 1px solid @border-gray;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: end;
    padding: 0;
    margin-bottom: 60px;
    border: none;
  }
}

.production__description {
  margin: 0;
  margin-bottom: 41px;
  font-size: 13px;
  color: @dark-gray;

  @media (min-width: @tablet-width) {
    margin-top: 24px;
    .font(15px, 30px);
  }
}

.production__link {
  width: 100%;
}
