.user-list {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.user-list__item {
  @media (min-width: @mobile-width) and (max-width: @tablet-width - 1) {
    &::before {
      content: "";
      position: absolute;
      left: calc(18.75vw / -2);
      width: 100vw;
      height: 1px;
      background-color: @border-gray;
    }
  }
}

.user-list__link {
  position: relative;
  display: block;
  color: @basic-black;

  @media (min-width: @mobile-width) and (max-width: @tablet-width - 1) {
    padding: 28px 0;
  }

  &--search {
    @media (min-width: @tablet-width) {
      margin-right: 63px;
      font-size: 0;
    }
  }

  .user-list__icon {
    position: absolute;
    top: 28;
    left: -46px;
  }
}
